.app{
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C2E46;
}

.app-message{
    flex: 1;
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    background-color: #f3cdca;
}

.app-message > p{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1C2E46;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

.app-message > p:first-child{
    margin: 0;
}

.reciver-msg{
    background-color: #fff !important;
    color: #1C2E46 !important;
}

form{
    padding: 10px;
    width: 100%;
    display: flex;
    background-color: #fff;
    border-top: 2px solid #000;
    border-radius: 0 0 5px 5px;
}

input[type=text]{
    flex: 1;
    outline: none;
    padding: 7px 10px;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

input[type=submit]{
    padding: 0 20px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1C2E46;
    color: #fff;
}